@using Record_Shop_Frontend.Models;
<div class="grid">
	@foreach (var album in Albums)
	{
		<AlbumSummary Album=@album />
	}
</div>


@code {
	[Parameter] public List<Album> Albums { get; set; } = new();
}