@using Record_Shop_Frontend.Models;

<div class="card">
	<div class="card-image">
		<figure class="image is-3by3">
			<img
				src="https://placehold.co/300"
				alt="album art placeholder"
			/>
		</figure>
	</div>
	<div class="card-content has-text-centered">
		<p class="title is-4">@album.Title</p>
		<p class="subtitle is-6 is-italic is-spaced">@album.Artist.Name</p>
	</div>
</div>


@code {
	[Parameter]
	public Album album { get; set; }
}
