@using Record_Shop_Frontend.Models;

<div>
	<figure>
		<img
			src="https://placehold.co/500"
			alt="album art placeholder"
		/>
	</figure>
	<h3 class="title is-4">@album.Title</h3>
	<h5 >@album.Artist.Name</h5>
</div>


@code {
	[Parameter] public Album album { get; set; }
}