@using Record_Shop_Frontend.Models;
<div>
	@foreach (var album in Albums)
	{
		<a href="https://localhost:7029/mehdzakhi/@album.Id">
			<AlbumSummary Album=@album />
		</a>
	}
</div>


@code {
	[Parameter] public List<Album> Albums { get; set; } = new();
}