<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="/vemokh">
            <img src="./Images/mehdzakhi-xuglekh-logo.png" alt="record store logo" />
        </a>
    </div>
    <div class="navbar-menu is-active">
        <div class="navbar-start">
            <NavLink href="/vemokh" class="navbar-item">
                Vemokh
            </NavLink>
            <NavLink href="/reh'ebekh" class="navbar-item">
                Reh'ebekh
            </NavLink>
            <NavLink href="/mehdzakhi" class="navbar-item">
                Mehdzakhi
            </NavLink>
            <NavLink href="/fa'alebhi" class="navbar-item">
                Fa'alebhi
            </NavLink>
        </div>
        <div class="navbar-end"></div>
    </div>
</nav>
@code {

}
