@using Record_Shop_Frontend.Components;
@inherits LayoutComponentBase

<header>
    <div>
        <h1 class="title is-1 has-text-centered pt-5">Mehdzakhi-Xuglekh</h1>
        <h6>Com'uh t'rekhveli-leybekh, elbebi-srekh, eh mehdzakhi-Xuglekh'lessekh!</h6>
    </div>
    <NavMenu />
</header>
@Body
<Footer />